<!DOCTYPE html>
<html lang="en">

<head>
	<title>User Dashboard</title>
	<meta charset="utf-8">

</head>

<body>

	<section id="container">

		<!--side-navbar-->
		<header class="header white-bg">
			<div class="logo">
				<a href="javascript:void(0);">
					<img src="root/images/newlogo.png" alt="logo">
				</a>
			</div>
			<ul class="logut-div">
				<li>
					<a href="" ng-click='logout()'>
						<i class="fa fa-user-circle-o" style="font-size: 20px; box-sizing: border-box;" aria-hidden="true"></i>Logout</a>
				</li>
			</ul>

			<!-- <div class="logout-img"> <a href="javascript:void(0);">Logout</a> </div> -->
		</header>

		<!--side-navbar-->
		<aside>
			<div id="sidebar" class="side-nav">
				<div class="nav-side-menu">
					<div class="side-menu-down">
						<div class="brand">Brand Logo</div>
						<i class="fa fa-bars fa-2x toggle-btn" data-toggle="collapse" data-target="#menu-content"></i>
						<div class="menu-list">
							<ul id="menu-content" class="menu-content collapse out">
								<li>
									<a href="/landing" ui-sref='landing'>
										<i class="fa fa-home fa-lg"></i> Dashboard </a>
								</li>
								<li>
									<a ui-sref='mytransaction' href="/mytransaction">
										<i class="fa fa-money"></i> My Transaction </a>
								</li>
								<!-- ng-show='walletbalanceTotal > 0 && tokenbalanceTotal > 0' -->
								<li >
									<a ui-sref='equazone' href="/equazone">
										<i class="fa fa-globe fa-lg"></i> Equa Zone</a>
								</li>
								<li>
										<a href="/send" ui-sref='send'>
											<i class="fa fa-user fa-lg"></i> Send</a>
									</li>
								<li class="active">
									<a ui-sref='support' href="/support">
										<i class="fa fa-life-ring"></i> Support</a>
								</li>
								
								
							</ul>
						</div>
					</div>
				</div>
			</div>
		</aside>
		<section id="main-content">
			<div class="wrapper_section">
					<div class="equazone-title">
                            <h1>Support</h1>
                    </div>
				<div class="supportFormBg">
					<form name='supportForm' novalidate>
						<div class="form-group">
							<label class="m-bot6">Subject</label>
							<input type="text" name="subject" value="" class="form-control" ng-model='message.subject' autocomplete="off" placeholder="Subject" required/>
							<p class="error" ng-if="supportForm.$submitted && supportForm.subject.$error.required" class="help-block">Please enter subject.</p>

						</div>
						<div class="form-group">
							<label class="m-bot6">Comments</label>
							<textarea name="content" value="" class="form-control" ng-model='message.content' autocomplete="off" placeholder="Write your comment" required></textarea>
							<p style='color:red' ng-if="supportForm.$submitted && supportForm.content.$error.required" class="help-block">Please Enter content.</p>


						</div>
						<!-- <input type="submit" class="supportFormBtn" ng-click="submitcontent(message)"
						value="submit"> -->
						<button type="submit" class="supportFormBtn" ng-click="submitcontent(supportForm.$valid,message)">Submit</button>

					</form>
				</div>
			</div>
		</section>
	</section>
</body>

</html>