<html>
    <!-- <p style="text-align:center; margin-top:20px;">Are You Sure Want To Logout?</p>
    <div class="modal-footer">
        <button class="btn btn-primary" ng-click="ok()">YES</button>
        <button class="btn btn-warning" ng-click="cancel()">NO</button></div> -->
        <div class="logout-center"> <img src="root/images/logout.png" alt="logout">
            <p style="text-align:center; font-weight:500; font-size: 20px;">Are You Sure Want To Logout?</p>
            <div class="modal-footer">
              <button class="btn btn-primary" ng-click="ok()">YES</button>
              <button class="btn btn-warning" ng-click="cancel()">NO</button>
            </div>
          </div>
</html>