
 * {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	vertical-align: baseline;
	background: transparent;
}
body {
	line-height: 1;
}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display: block;
}
nav ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after, q:before, q:after {
	content: '';
	content: none;
}
a {
	margin: 0;
	padding: 0;
	font-size: 100%;
	vertical-align: baseline;
	background: transparent;
	text-decoration: none;
	transition: 0.5s ease;
	-webkit-transition: 0.5s ease;
	-moz-transition: 0.5s ease;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
input, select {
	vertical-align: middle;
}
.f_left {
	float: left !important;
}
.f_right {
	float: right !important;
}
.m_top3 {
	margin-bottom: 30px;
}
/*--------Style start--------*/
#container {
	position: absolute;
	top: 0;
	width: 100%;
	min-height: 100%;
	padding-bottom: 20px;
}
.white-bg {
	background: #35353c;
	-webkit-box-shadow: -1px 3px 7px 0px rgba(0, 0, 0, 0.48);
	-moz-box-shadow: -1px 3px 7px 0px rgba(0, 0, 0, 0.48);
	box-shadow: -1px 3px 7px 0px rgba(0, 0, 0, 0.48);
}
.header {
	position: fixed;
	left: 0;
	right: 0;
	z-index: 1002;
}
.header {
	padding: 10px 30px;
	overflow: hidden;
}
.logo {
	float: left;
}
.logo a {
}
.logout-img {
	float: right;
}
.logout-img a {
	color: #ffffff;
	font-size: 16px;
	text-decoration: none;
	text-transform: uppercase;
}
.logout-img a:hover, .logout-img a:focus {
	color: #ffffff;
	text-decoration: none;
}
/*---------Side-navigation--------*/
.side-menu-down {
	margin-top: 80px;
}
.nav-side-menu {
	overflow: auto;
	font-family: verdana;
	font-size: 12px;
	font-weight: 200;
	background-color: #35353c;
	position: fixed;
	top: 0px;
	width: 240px;
	height: 100%;
	color: #e1ffff;
}
.nav-side-menu .brand {
	background-color: #23282e;
	line-height: 50px;
	display: block;
	text-align: center;
	font-size: 14px;
}
.nav-side-menu .brand {
	display: none;
}
.nav-side-menu .toggle-btn {
	display: none;
}
.nav-side-menu ul, .nav-side-menu li {
	list-style: none;
	padding: 0px;
	margin: 0px;
	cursor: pointer;
}
.nav-side-menu ul :not(collapsed) .arrow:before, .nav-side-menu li :not(collapsed) .arrow:before {
	font-family: FontAwesome;
	content: "\f078";
	display: inline-block;
	padding-left: 10px;
	padding-right: 10px;
	vertical-align: middle;
	float: right;
}
.nav-side-menu ul .active, .nav-side-menu li .active {
	border-left: 6px solid #ffffff;
	background-color: #212121;
}
.nav-side-menu ul .sub-menu li.active, .nav-side-menu li .sub-menu li.active {
	color: #d19b3d;
}
.nav-side-menu ul .sub-menu li.active a, .nav-side-menu li .sub-menu li.active a {
	color: #d19b3d;
}
.nav-side-menu ul .sub-menu li, .nav-side-menu li .sub-menu li {
	background-color: #181c20;
	border: none;
	border-bottom: 1px solid #23282e;
	margin-left: 0px;
}
.nav-side-menu ul .sub-menu li:hover, .nav-side-menu li .sub-menu li:hover {
	background-color: #020203;
}
.nav-side-menu ul .sub-menu li:before, .nav-side-menu li .sub-menu li:before {
	font-family: FontAwesome;
	content: "\f105";
	display: inline-block;
	padding-left: 10px;
	padding-right: 10px;
	vertical-align: middle;
}
.nav-side-menu li {
	padding-left: 0px;
	border-left: 3px solid #2e353d;
	border-bottom: 1px solid #23282e;
}
.nav-side-menu li a {
	text-decoration: none;
	color: #e1ffff;
	padding: 18px 12px;
	display: block;
	font-size: 14px;
}
.nav-side-menu li a i {
	padding-left: 10px;
	width: 20px;
	padding-right: 20px;
}
.nav-side-menu li:hover {
	border-left: 6px solid #ffffff;
	background-color: #212121;
	-webkit-transition: all 1s ease;
	-moz-transition: all 1s ease;
	-o-transition: all 1s ease;
	-ms-transition: all 1s ease;
	transition: all 1s ease;
}
textarea{width:100%; height:80px; resize:none; border:1px solid #ccc; padding:12px 12px;}
/*-----main - Content------*/
#main-content{
	transition:all .3s ease-in-out;
	-webkit-transition:all .3s ease-in-out;
	-moz-transition:all .3s ease-in-out;
	margin-left:240px;
}
.wrapper_section{
	    display: inline-block;
    margin-top: 100px;
    padding: 15px;
    width: 100%;
}
.equazone-body{float:left; width:100%; margin-top: 16px;}
.create-propos-link a, .create-propos-link a:hover, .create-propos-link a:focus{
	border:1px solid #dddddd;
    background: #f5f5f5;
	display:block;
	text-align:center;
	margin-bottom:0;
	padding:10px 12px;
	text-decoration:none;
	color:#333333;
	font-size:16px;
	font-weight:400;
	border-radius: 4px;
	
}
.categor-section-wrap{
	float:left;
	width:100%;
	padding:16px 0;
}
.category-table .table-responsive .table thead th{
	background:#35353c;
	color:#ffffff;
	padding:8px;
	border-bottom:none;
	font-weight:normal;
	font-size:15px;
	text-transform:capitalize;
}
.category-table .table-responsive .table tbody tr td{
	font-size:12px;
	padding:8px;
white-space:nowrap;	
}
.category-table .table-responsive .table tbody tr:nth-of-type(odd){
	background:#f5f5f5;
}
.category-table .pagination{margin:10px 0;}
.category-table .pagination li.active a{background:#35353c; border:1px solid #35353c;}

.create-proposal-modal .modal{background: rgba(0,0,0,0.6);}
.create-proposal-modal .modal-footer{text-align:center;}

img{vertical-align: middle;}
.equazone-title h1{
	    font-size: 22px;
    margin: 0 0 30px;
    position: relative;
    padding-bottom: 16px;
	text-transform:uppercase;
	}
.equazone-title h1:before{
	
	    background: #cccccc;
    position: absolute;
    content: '';
    width: 100%;
    height: 1px;
    bottom: 0;
    padding: 0;
	}
.equazone-title h1:after{
	background: #f09524;
    position: absolute;
    content: '';
    width: 11.66%;
    height: 4px;
    bottom: -1px;
    padding: 0;
	left:0;
	}
	
	
	.market-updates {
    margin: 15px 0 12px;
	    float: left;
    width: 100%;
}
.lft-move{float: left; width:50%; padding:0 6px;}
.lft-move h3{display: block;  padding: 16px 0;}
.equa-purchase a{display: block; color: #ffffff; padding:16px;}
.bg-white{background:#ffffff;     border: 1px solid #dddddd; overflow: hidden; -webkit-box-shadow: 0px 6px 8px 0px rgba(211, 211, 211, 0.75);
	-moz-box-shadow:    0px 6px 8px 0px rgba(211, 211, 211, 0.75);
	box-shadow:         0px 6px 8px 0px rgba(211, 211, 211, 0.75);}
.full-wrap{float:left; width:100%; margin: 20px 0 0;} 
.equacoin-clr{padding:20px;}
.lft-move input{height: 50px; margin-bottom: 10px;}
.ehter-blance{float:left; width:100%;}
.equacoin-clr h4{font-size: 20px; color:#000000; margin-bottom: 16px;}
.ehter-blance h6{
	color: #f09524;
    font-size: 20px;
    margin: 12px 0;
}
.logut-div{float: right; margin-top: 10px;}
.logut-div li a{color:#ffffff; text-align: center; text-decoration: none;}
.logut-div li a i{display: block; margin: 3px 0;}
.ehter-blance h4{font-size: 17px; color:#000000;}

.support-content p{color:#000000; line-height: 26px; margin-bottom: 20px; text-align: justify;}
.bg-space{padding: 16px;}
.bg-title{background:#4658a7; padding: 16px; color: #ffffff; font-weight: bold; text-align: left;}
.list-box li{ line-height: 22px;
    font-size: 14px;
	color: #f09524;
	font-weight: bold;
	padding: 8px 12px;
}
.list-box li:nth-child(even){background:#eeeeee;}
.list-box li span{color:#000000; font-weight: normal;}
.equacoin-log{margin: 26px 0;}
.category-table .table-responsive .transaction-table table tr th{background:#35353c; white-space: nowrap; color:#ffffff; font-size: 12px;}
.market-update-block.clr-block-2 {
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
}

.market-update-block {
    padding: 20px 12px;
    background: #999;
	overflow: hidden;
}
.market-update-right {
    padding-left: 0;
}
.market-update-right i.fa.fa-eye {
    font-size: 3em;
    color: #fff;
    text-align: left;
}
.market-update-left {
    padding: 0px;
	color: #ffffff;
}
.position_button {
	position: absolute;
    /* top: 80px; */
    left: 28%;
    margin: 0 auto;
    right: 0;
    text-align: center;
    bottom: 0;
}
.padd {
	padding: 6px 15px !important;
	font-size: 12px;
	font-weight: bold;
	 background: #078fda !important;
    border: 1px solid #078fda !important;
}
@media (max-width: 767px) {
.nav-side-menu {
	position: relative;
	width: 100%;
	margin-bottom: 10px;
}
.nav-side-menu .toggle-btn {
	display: block;
	cursor: pointer;
	position: absolute;
	right: 10px;
	top: 10px;
	z-index: 10 !important;
	padding: 3px;
	background-color: #ffffff;
	color: #000;
	width: 40px;
	text-align: center;
}
.brand {
	text-align: left !important;
	font-size: 22px;
	padding-left: 20px;
	line-height: 50px !important;
}
}
@media (min-width: 767px) {
.nav-side-menu .menu-list .menu-content {
	display: block;
}
}
@media(max-width:720px){
	#main-content{margin-left:0;}
	.wrapper_section{margin-top:20px;}
}
@media(max-width:360px){
	#main-content{margin-left:0;}
	.wrapper_section{margin-top:20px;}
	.market-update-block{margin-bottom:16px;}
}